<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>KP</string>
	<key>ordering</key>
	<array>
		<string>69B0DDA0-E260-4D86-A7EC-0151CDAC1AEE</string>
		<string>CA32C148-B650-4803-8E39-3686F572D925</string>
		<string>B6D6DA18-5168-4327-B2CD-00FE6D56D89E</string>
		<string>EB3ABF71-35F1-494B-B337-5F690B04BC7E</string>
	</array>
	<key>uuid</key>
	<string>CD0A9C13-2C4B-4456-9E05-0E8F97533656</string>
</dict>
</plist>
